@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #4838D1;
    --primary-light-color: rgba(120, 107, 242, 0.5);
    --secondary-color: #F77A55;
    --gray: #555;
}

.container-fluid{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* navbar  */
.navbars{
    width: 100%;
    height: 10vh;
}
.navbars img{
    width: 60%;
}
.navbars .bi-gear{
    font-size: 20px;
    color: var(--primary-color);
    cursor: pointer;
}
.navbars .bi-gear:hover{
    color: var(--secondary-color);
}
/* end of navbar  */

/* aside  */
.aside {
    width: 100%;
    height: 90vh;
    background: none;
    z-index: 9999;
}
.aside .home,.search,.lib{
    font-weight: 600;
    color: var(--gray);
    cursor: pointer;
}
.aside .home:hover, .search:hover, .lib:hover{
    color: var(--secondary-color);
}
.aside span{
    font-size: 15px;
}
.aside .bi-house,.bi-search,.bi-box{
    font-size: 20px;
}
.aside .home.active, .search.active, .lib.active{
    color: var(--primary-color);
}
/* end of aside  */

/* main  */
.main{
    width: 100%;
    background: none;
    height: 90vh;
    overflow-y: scroll;
}
.main h3{
    font-size: 17px;
    font-weight: 600;
    color: var(--gray);
}
.main .seemore{
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: var(--primary-color);
}
.main .seemore:hover{
    color: var(--secondary-color);
}
.main .one .categroy{
    text-decoration: none;
    border:none;
    border-radius: 15px;
    color: #bcbcbc;
    padding: 5px 9px;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    background-color: #f6f6f6;
}
.main .one .categroy:hover{
    background: var(--secondary-color);
    color: #FFf;
}

/* best seller  */

/* end of best seller  */


/* end of main  */


/* player  */
.play{
    width: 100%;
    height: 90vh;
    background: #e6e6e6;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    z-index: 10;
    overflow-y: scroll;
    transition: all .5s ease-in-out;
}
.play-scroll{
    width: 100%;
    height: 110vh;
    overflow: hidden;
}
.backbtn{
    width: 100%;
    height: 10vh;
}
.backbtn i{
    cursor: pointer;
}
.backbtn i:hover{
    color: var(--primary-color);
}
.img-box{
    width: 300px;
    height: auto;
    padding: 5px;
}
.img-box img{
    width: 17%;
    border-radius: 8px;
}
.img-box .title{
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
}
.img-box .author{
    font-size: 15px;
    font-weight: 500;
    color: #777;
}
.control-box{
    width: 250px;
    height: auto;
    padding: 5px;
}
.control-box input[type=range]{
    width: 240px;
    height: 4px;
}
.control-box .time-box{
    font-size: 13px;
    font-weight: 400;
    color: var(--gray);
    width: 240px;
    height: auto;
}

.remote-box{
    width: 250px;
    height: auto;
    padding: 8px 5px;
    font-size: 20px;
}
.remote-box .bi-play-circle, .bi-pause-circle{
    font-size: 35px;
}
.bi-volume-up, .bi-chevron-bar-left, .bi-chevron-bar-right, .bi-play-circle, .bi-shuffle, .bi-pause-circle{
    cursor: pointer;
}
.bi-volume-up:hover, .bi-chevron-bar-left:hover, .bi-pause-circle:hover, .bi-chevron-bar-right:hover, .bi-play-circle:hover, .bi-shuffle:hover{
    color: var(--secondary-color);
}
.remote-box .bi-x-circle{
    font-size: 20px;
}
.remote-box .bi-x-circle:hover{
    color: var(--secondary-color);
}

.volume{
    width: 200px;
    height: 40px;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    bottom: -90%;
    right: 10%;
    background: #f8f8f8;
    border-radius: 8px;
}
.volume:hover{
    transform: scale(1.04);
}
/* end of player  */

/* read more  */
.read{
    z-index: 15;
    width: 100%;
    height: 90vh;
    background: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    overflow-y: scroll;
    transition: all .6s ease-in-out;
}
.read .read-scroll{
    width: 100%;
    height: auto;
    
}
.read .read-scroll .btn-gp{
    width: 380px;
    height: auto;
    padding: 8px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-gp .read-book{
    padding: .6rem .8rem;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    font-weight: 500;
    font-weight: 13px;
    background-color: #fff;
    color: var(--primary-color);
}
.btn-gp .read-book:hover{
    background-color: #efefef;
}
.btn-gp .play-audio{
    padding: .6rem .8rem;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-weight: 13px;
    background-color:var(--primary-color);
    color: #fff;
}
.btn-gp .play-audio:hover{
    background-color: var(--primary-light-color);
}
.read .summ{
    font-size: 19px;
    font-weight: 600;
    color: var(--gray);
    position: relative;
}
.read .summ::before{
    position: absolute;
    content: "";
    width: 60%;
    height: 4px;
    border-radius: 5px;
    background-color: var(--primary-light-color);
    bottom: -5px;
    left: 0;
}
.read .summ-content{
    width: 390px;
    padding: .3rem;
    text-align: justify;
    font-size: 14px;
    font-weight: 500;
    color: var(--gray);
    text-indent: 1rem;
}
/* end of read more  */


/* read more  */
.read-more{
    z-index: 20;
    width: 100%;
    height: 90vh;
    background: #1cd26e;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
}

/* end of read more  */


/* md  */

@media screen and (max-width: 768px){
    .aside{
        height: 10vh;
    }
    .main{
        height: 80vh;
    }
    .navbars .logo{
        width: 60%;
    }
    .swiper-slide img {
        display: block;
        width: 400px;
        object-fit: cover;
    }
    .img-box img{
        width: 40%;
        border-radius: 8px;
    }
}

/* sm  */

@media screen and (max-width:576px){
    .aside{
        height: 10vh;
    }
    .main{
        height: 80vh;
    }
    .aside .bi-house,.bi-search,.bi-box{
        font-size: 17px;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        object-fit: cover;
    }
}

/* swiper  */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 200px !important;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
  }

  .swiper-slide img:hover{
    transform: scale(1.05);
  }

  .swiper-slide span{
    font-size: 16px;
    font-weight: 400;
    color: var(--gray);
  }

 /* .swiper-slide {
    width: 50%;
  } */
/*
  .swiper-slide:nth-child(2n) {
    width: 40%;
  }

  .swiper-slide:nth-child(3n) {
    width: 20%;
  } */


.music-btn{
    display: none;
    position: absolute;
    z-index: 5;
    top: 15%;
    right: 0;
    padding: .6rem 1.2rem;
    background-color: var(--secondary-color);
    color: #fff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;
}
.music-btn.active{
    display: block;
}

.volume input:last-child{
    /* display: none; */
}